@use "sass:math";

:root {
	--bouncy-size: 4rem;

	@media (orientation: landscape) {
		--bouncy-size: 5rem;
	}
}

html {
	font-family: sans-serif;

	@media (prefers-color-scheme: dark) {
		background: hsl(0deg, 0%, 10%);
		color: hsl(0deg, 0%, 80%);
	}
}

html,
body {
	min-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.bouncy {
	display: block;
	position: fixed;
	top: 0;
	left: 0;

	width: var(--bouncy-size);
	height: var(--bouncy-size);

	> .round {
		border-radius: 100%;
	}

	> * {
		display: block;

		width: 100%;
		height: 100%;

		background: var(--img);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
}

@keyframes slide-y {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(calc(100vh - var(--bouncy-size)));
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes slide-x {
	0% {
		transform: translateX(0) scaleX(1);
	}
	49.9999% {
		transform: translateX(calc(100vw - var(--bouncy-size))) scaleX(1);
	}
	50% {
		transform: translateX(calc(100vw - var(--bouncy-size))) scaleX(-1);
	}
	99.9999% {
		transform: translateX(0) scaleX(-1);
	}
	100% {
		transform: translateX(0) scaleX(1);
	}
}
