@use "sass:math";

:root {
	--bouncy-size: 50px;
}

html {
	font-family: sans-serif;

	@media (prefers-color-scheme: dark) {
		background: hsl(0deg, 0%, 10%);
		color: hsl(0deg, 0%, 80%);
	}
}


html,
body {
	min-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	display: inline-flex;
	align-items: center;
	gap: 1rem;
}

.bouncy {
	display: block;
	position: absolute;

	background: var(--img);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	&.round {
		border-radius: 100%;
	}

	width: var(--bouncy-size);
	height: var(--bouncy-size);
}

@keyframes slide-y {
	from {
		top: 0;
	}
	to {
		top: calc(100% - var(--bouncy-size));
	}
}

@keyframes slide-x {
	from {
		left: 0;
	}
	to {
		left: calc(100% - var(--bouncy-size));
	}
}
